APP_NAME=ukuran API
APP_ENV=development
API_PREFIX=/api/v1

FRONTEND_URL=http://localhost:3000

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Ambil dari Supabase > Project Settings > Database > Connection string (URI, mode "Transaction")
# Ganti prefix jadi postgresql+asyncpg:// karena kita pakai async driver
DATABASE_URL=postgresql+asyncpg://postgres:lemahgempal32@db.yktfyladkcbbwzolgchr.supabase.co:5432/postgres